# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=MY_GEMINI_API_KEY

# FIREBASE_API_KEY: Required for Firebase Firestore connections.
FIREBASE_API_KEY=YOUR_FIREBASE_API_KEY
# FIREBASE_APP_ID: Required for Firebase initialization.
FIREBASE_APP_ID=YOUR_FIREBASE_APP_ID
# FIREBASE_PROJECT_ID: Required for Firebase initialization.
FIREBASE_PROJECT_ID=YOUR_FIREBASE_PROJECT_ID

# GOOGLE_CLIENT_ID: Required for Firebase Google Sign-in Auth
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
